@brand-1: #00897b; // dark teal

#body {
  #wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .navbar {
      background-color: @brand-1;
    }

    #map-container {
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
